.alert {
    width: 100%;
}

.main-container {
    margin-left: auto;
    margin-right: auto;
    padding: 24px; /* p: 3 => 3*8px = 24px */
    display: flex;
    gap: 24px; /* gap: 3 => 3*8px = 24px */
    flex-direction: column; /* xs: coluna */
    align-items: flex-start;
    justify-content: flex-start;
}

@media(min-width: 900px) { /* md breakpoint */
    .main-container {
        flex-direction: row;
    }
}

.log-box {
    flex: 2;
    min-width: 0;
    max-height: 80vh;
    overflow: auto;
    border: 1px solid #ccc;
    border-radius: 16px; /* borderRadius: 2 => 2*8px = 16px */
    padding: 16px;       /* p: 2 => 16px */
    background-color: #fafafa;
    box-shadow: 0px 1px 3px rgba(0,0,0,0.2),
    0px 1px 1px rgba(0,0,0,0.14),
    0px 2px 1px rgba(0,0,0,0.12); /* boxShadow 1 equivalente MUI */
}

.form-box {
    flex: 1;
    position: static; /* default */
    top: 16px;        /* só vale se position sticky */
    align-self: flex-start;
    border: 1px solid #ccc;
    border-radius: 16px; /* 2*8px */
    padding: 16px;       /* p: 2 */
    background-color: #fff;
    box-shadow: 0px 1px 3px rgba(0,0,0,0.2),
    0px 1px 1px rgba(0,0,0,0.14),
    0px 2px 1px rgba(0,0,0,0.12);
}

@media(min-width: 900px) {
    .form-box {
        position: sticky;
    }
}